<div class="container">

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
    <div class="container">
        <a href="" class="brand">詰将棋</a>
        <ul id="nav-contnets" class="nav">
            <li id="list"><a href="/question/list">挑戦</a></li>
            <li id="add"><a href="/question/add">問題作成</a></li>
        </ul>
    </div>
    </div>
</div>
